.start-screen {
  display: grid;
  justify-items: center;
}

.start-screen h1 {
  font-size: 5em;
  color: var(--main-text-color);
}

.start-screen h2 {
  font-size: 3em;
  color: var(--secondary-text-color);
}

.game-mode {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vs-player,
.vs-computer {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.4em;
  border: none;
  border-radius: 20px;
  background-color: var(--main-background-color);
}

.vs-player {
  color: var(--secondary-text-color);
  transition: background-color 0.2s, color 0.2s;
}

.vs-player:hover {
  background-color: var(--secondary-text-color);
  color: white;
}

.vs-player img {
  width: 30px;
}

.vs-computer {
  color: var(--main-text-color);
  transition: background-color 0.2s, color 0.2s;
}

.vs-computer:hover {
  background-color: var(--main-text-color);
  color: white;
}
.vs-computer img {
  width: 30px;
}
